{
    "extends": "constelation",
    "rules": {
      /* "max-len": [1, { */
      /*   "code": 120, */
      /*   "ignoreComments": true, */
      /* }], */
      /* "object-curly-spacing": [ 1, "always" ], */
    }
}
