{
    "extends": "constelation",
    "rules": {
      /* "max-len": [1, { */
      /*   "code": 120, */
      /*   "ignoreComments": true, */
      /* }], */
      "object-curly-spacing": [ 1, "always" ],
      "react/jsx-sort-props": [1, {
        "ignoreCase": true,
        "shorthandFirst": true,
        "callbacksLast": true,
        "noSortAlphabetically": true,
      }],
      "react/jsx-max-props-per-line": [1, { "maximum": 1}],
      "react/jsx-first-prop-new-line": [1, "multiline"],
      /* "react/jsx-first-prop-new-line": [1, "always"], */
      "react/require-default-props": 2,
      "react/jsx-handler-names": 0, // disabled for on_ props in Animate_
    }
}
